.to-do-list {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-container {
    max-height: 200px;
    overflow-y: auto;
}

#title {
    text-align: center;
    font-family: "华文楷体", cursive;
}

.finished {
    text-decoration: line-through;
}

.timeout {
    color: red;
}